<div class="container">
    <div class="row" style="margin-left:10vw; margin-right:10vw;">

        <h5 style="text-align:right; margin-bottom:50px;">the team that made it work</h5>


        <div class="d-flex about-developer">
            <img class="team-profile-pic" src="/assets/christina.jpeg" alt="Photograph of Christina walking across bridge in the woods." width="150px" height="150px"/>
            <div class="developer-info">
                <h2>Christina Bohn</h2>
                <p>Full Stack Web Developer open for full-time employment. Problem solver. Hiking enthusiast. Bookworm. Lover of cats, plants, and wine.</p>
                <h6 class="github-link">
                    <a href="https://github.com/ChristinaBohn">
                        <span style="padding-right:10px"><img src="/assets/GitHub-Mark-64px.png" alt="GitHub Icon" width="25px" height="auto" /></span>view github
                    </a>
                </h6>
            </div>
        </div>

        <div class="d-flex about-developer">
            <img class="team-profile-pic" src="/assets/juanita.jpeg" alt="Side profile of Juanita as she faces a river." width="150px" height="150px"/>
            <div class="developer-info">
                <h2>Juanita Samborski</h2>
                <p>Designer & Developer. Forever curious. Perpetually looking for ways to create designs that are bold and clean, and websites that are intuitive and functional.</p>
                <h6 class="github-link">
                    <a href="https://github.com/jsamborski310">
                        <span style="padding-right:10px"><img src="/assets/GitHub-Mark-64px.png" alt="GitHub Icon" width="25px" height="auto" /></span>view github
                    </a>
                </h6>
            </div>
        </div>

        <div class="d-flex about-developer">
            <img class="team-profile-pic" src="/assets/mohamed.jpeg" alt="Photograph of Christina walking across bridge in the woods." width="150px" height="150px"/>
            <div class="developer-info">
                <h2>Mohamed Mohamud</h2>
                <p>Currently, an undergraduate student at the University of Washington pursuing Business Administration with a focus in Informations Systems.</p>
                <h6 class="github-link">
                    <a href="https://github.com/mozini206">
                        <span style="padding-right:10px"><img src="/assets/GitHub-Mark-64px.png" alt="GitHub Icon" width="25px" height="auto" /></span>view github
                    </a>
                </h6>
            </div>
        </div>        


    </div>

</div>