<div class="container px-5">
    <div class="row align-items-start g-5">


      <div class="col-lg-4 order-lg-1 col-md-5 order-md-1 col-sm-12 order-sm-2 col-12 order-2">
        <h6 class="mb-4">library</h6>

        <div class="sidebar">


        {{#each books as |book| }}
There is a book.
            <div class="row mb-3">
                <div class="d-flex align-items-center">
                    <img class="book-cover" src="{{image}}" alt="{{title}}" width="60px" height="auto"/>
            
                    <div style="width:100%; padding: 10px 20px;">
                        <h4 class="mb-1">{{title}}</h4>
                        <p class="mb-0">{{author}}</p>
                    </div>
                </div>
            </div>
        {{/each}}


This is the test book.
            {{!-- THIS IS THE SECTION WE NEED TO MAKE DYNAMIC --}}
            <div class="row mb-3">
                <div class="d-flex align-items-center">
                    <img class="book-cover" src="/assets/throne-of-glass.jpg" alt="Throne of Glass cover" width="60px" height="auto"/>
            
                    <div style="width:100%; padding: 10px 20px;">
                        <h4 class="mb-1">Throne of Glass</h4>
                        <p class="mb-0">Sarah J. Mass</p>
                    </div>
                </div>
            </div>
            {{!-- END --}}


  

        </div>

    </div>



      <div class="col-lg-8 order-lg-2 col-md-7 order-md-2 col-sm-12 order-sm-1 col-12 order-1">
        <h2>Build your library</h2>
        <h3>Add your favorites to your library</h3>

            <form enctype="multipart/form-data" style="margin-top:50px;" class="new-book-form">

                <!-- Title Input -->
                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-book-title" class="form-label-h6">Title</label>

                    <input type="text" id="form-book-title" class="form-control"
                        aria-label="Book Title">
                </div>

                <!-- Author Input -->
                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-author-name" class="form-label-h6">Author</label>

                    <input type="text" id="form-author-name" class="form-control"
                        aria-label="Author Name">
                </div>

                <!-- Genre Input -->

                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-genre" class="form-label-h6">Genre</label>

                    <select class="form-select form-control" aria-label="Default select example" id="form-genre">
                        <option selected>Select Main Genre</option>
                        <option value="1">Romance</option>
                        <option value="2">Science Fiction</option>
                        <option value="3">Mystery</option>
                        <option value="4">Young Adult</option>
                        <option value="5">New Adult</option>
                        <option value="6">Dystopian</option>
                        <option value="7">Fantasy</option>
                        <option value="8">Historical Fantasy</option>
                        <option value="9">Thriller</option>
                    </select>
                </div>

                <!-- Read Status -->

                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-read-status" class="form-label-h6">Book Status</label>

                    <select class="form-select form-control" aria-label="Default select example" id="form-read-status">
                        <option selected>Have you read this title?</option>
                        <option value="1">Yes!</option>
                        <option value="2">Not yet!</option>
                    </select>
                </div>

                <!-- Upload Cover -->

    
                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-book-cover" class="upload-button button-h6">
                        <input type="file" id="form-book-cover" class="upload-button button-h6"> 
                        Upload Cover
                    </label>

                     
                </div>

                <div style="text-align:end;">           
                    <button type="submit" class="theme-button button-h6">Submit form</button>
                </div>
            </form>


      </div>
     
    </div>


</div>

  <script src="../js/add-new-book.js"></script>
