<div class="container px-5">

    <div class="row mb-5">
        <div class="d-flex align-items-center justify-content-start note-header">
          
            <img class="book-cover" src="/assets/throne-of-glass.jpg" alt="Throne of Glass cover" width="100px" height="150px"/>
          
            <div class="note-book-details">
                <h2>throne of glass</h2>
                <h3 style="text-transform: capitalize;">Sarah J. Maas</h3>
            </div>
        </div>
    </div>



    <div class="row align-items-start g-5">
        <div class="col-lg-4 order-lg-1 col-md-5 order-md-1 col-sm-12 order-sm-2 col-12 order-2">

            {{!-- LEFT SIDE. SIDEBAR. --}}
            <div class="sidebar">

                <!-- THIS IS THE DYNAMIC SECTION. -->
                <div class="row mb-3">
                    <div class="d-flex align-items-center mb-4">
                
                        <div style="width:75%;">
                            <h4 class="mb-1">Favorite Line</h4>
                            <p class="mb-0 note-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>

                        <div class="delete-note" style="width:25%; text-align:center;">
                            <img class="book-cover" src="/assets/delete-notes.png" alt="Minus Icon" width="25px" height="auto"/>
                        </div>
                    </div>
                </div>
                <hr style="width:90%;"/>
                <!-- ENDS HERE -->

                <div class="row mb-3">
                    <div class="d-flex align-items-center my-4">
                
                        <div style="width:75%;">
                            <h4 class="mb-1">Favorite Line</h4>
                            <p class="mb-0 note-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>

                        <div class="delete-note" style="width:25%; text-align:center;">
                            <img class="book-cover" src="/assets/delete-notes.png" alt="Minus Icon" width="25px" height="auto"/>
                        </div>
                    </div>
                </div>
                <hr style="width:90%;"/>

                <div class="row mb-3">
                    <div class="d-flex align-items-center my-4">
                
                        <div style="width:75%;">
                            <h4 class="mb-1">Favorite Line</h4>
                            <p class="mb-0 note-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>

                        <div class="delete-note" style="width:25%; text-align:center;">
                            <img class="book-cover" src="/assets/delete-notes.png" alt="Minus Icon" width="25px" height="auto"/>
                        </div>
                    </div>
                </div>
                <hr style="width:90%;"/>

            

            </div>
        </div>


    {{!-- RIGHT SIDE. --}}
        <div class="col-lg-8 order-lg-2 col-md-7 order-md-2 col-sm-12 order-sm-1 col-12 order-1">

            {{!-- ADD NEW NOTE FORM --}}
            <form enctype="multipart/form-data" class="new-note-form">

                {{!-- NOTE TITLE --}}
                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-note-title" class="form-label-h6">Title</label>

                    <input type="text" id="form-note-title" class="form-control"
                        aria-label="Note Title">
                </div>

                {{!-- DESCRIPTION --}}
                <div class="form-group" style="margin-bottom:20px;">
                    <label for="form-note-details" class="form-label-h6">Note</label>

                    <textarea id="form-note-details" class="form-control" rows="8" cols="50" style="padding:40px"
                        aria-label="Note Details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
                </div>

                {{!-- BUTTON --}}
                <div style="text-align:end;">           
                    <button type="submit" class="theme-button button-h6">Submit Note</button>
                </div>
            </form>
        </div> 


    </div>  
</div>

  <script src="../js/add-new-note.js"></script>
