<div class="container row px-5">

    <!-- LEFT SIDE. BOOK DETAILS OVERVIEW -->

    <div class="book-details-header d-flex justify-content-between align-items-center">
        <h2>book details</h2>
        <div style="display:inline-block">
            <a class="outlined-button button-h6" href="#">View Book</a>
            <a class="theme-button button-h6" href="#">Add Note</a>
        </div>
    </div>
    

    <!-- LEFT SIDE. BOOK ACTIONS. -->
    
    <div class="row align-items-start g-3">

        <div class="col-lg-4 col-md-5 col-sm-12 col-12">

            <div class="book-details-sidebar">
                <div>
                              
                    <img class="details-book-cover" src="{{image}}" alt="Throne of Glass cover" width="200px" height="300"/>

                    <div style="margin-top:40px;">
                        <h6><img src="/assets/edit.png" style="margin-right:10px; width:35px; height:auto;" alt="pencil icon"/>Edit</h6>
                        <h6><img src="/assets/delete.png" style="margin-right:6px; width:35px; height:auto;" alt="minus icon"/></i> Delete</h6>    

                        <hr style="width:60%"/>


<!-- Create counter. Will have to do a for each. -->
                        <div style="display:inline-flex; align-items:center;">
                            <h6 class="notes-counter" style="margin-right:10px;">3</h6>
                            <h6>Notes</h6>
                        </div>
                    </div>
                                
                </div>
            </div>
        </div>
        

<!-- RIGHT SIDE -->

    <div class="col-lg-8 order-lg-2 col-md-7 order-md-2 col-sm-12 order-sm-1 col-12 order-1">
        
    <!-- THIS IS THE SECTION THAT NEEDS TO BE DYNAMIC. -->
        <div class="note-list">
            <h4>This is my favorite line.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    <!-- END DYNAMIC SECTION -->
        <div class="note-list">
            <h4>This is my favorite line.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="note-list">
            <h4>This is my favorite line.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="note-list">
            <h4>This is my favorite line.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>



        </div>
    
    </div>
</div>
