        {{!-- My Library --}}
        <h2 style="text-align:center; padding-bottom:30px;">my library</h2>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">ALL BOOKS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TO BE READ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">HAVE READ</a>
                </li>
            </ul>