 <div class="col-12 col-lg-6 col-md-6 col-sm-12 justify-content-center align-items-center" style="display:flex; padding:0 30px;">

    <div class="col-10">
        <h2 style="text-align:center; padding-bottom:30px;">Login</h2>

        <!-- Username -->

        <div style="margin-bottom:20px;">
            <label for=" username" class="form-label-h6">Username</label>

            <input type="text" id="username" class="form-control"
                aria-label="Username">
        </div>

        <!-- Password -->
        <div>
            <label for="inputPassword" class="form-label-h6">Password</label>
            <input type="password" id="inputPassword" class="form-control">
        </div>


        

        <!-- Button -->

        <div class="d-grid gap-2 mt-5">
            <button type="button" class="button-h6 login-button-login">Login</button>

            <button type="button" class="button-h6 register-button-login">Register</button>
        </div>

    </div>

</div>