
                <h2 style="text-align:center; padding-bottom:30px;">Login</h2>

                {{!-- Form Section --}}
                <form class="form signup-form">

                    <!-- Username -->

                    <div class="form-group" style="margin-bottom:20px;">
                        <label for=" username-login" class="form-label-h6">Username</label>

                        <input type="text" id="username-login" class="form-control"
                            aria-label="Username">
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="password-login" class="form-label-h6">Password</label>
                        <input type="password" id="password-login" class="form-control">
                    </div>      

                    <!-- Button -->

                    <div class="form-group d-grid gap-2 mt-5">
                        <button type="button" class="button-h6 login-button-login">Login</button>

                        <button type="button" class="button-h6 register-button-login" onclick="location.href = '/register';">Register</button>
                    </div>

                </form>

          