
                <h2 style="text-align:center; padding-bottom:30px;">Register</h2>

                  {{!-- Form Section --}}
                  <form class="form signup-form ">
                    
                      <!-- Username -->
                      <div class="form-group" style="margin-bottom:20px;">
                          <label for="username-signup" class="form-label-h6">Username</label>

                          <input type="text" id="username-signup" class="form-control"
                              aria-label="Username">
                      </div>

                      <!-- Password with Help Block-->
                      <div class="form-group">
                          <label for="password-signup" class="form-label-h6">Password</label>
                          <input type="password" id="password-signup" class="form-control"
                              aria-describedby="passwordHelpBlock">
                          <div id="passwordHelpBlock" class="form-text">
                              Your password must be 8-20 characters long, contain letters and numbers, and must not
                              contain spaces, special characters, or emoji.
                          </div> 
                      </div>

                      <!-- Button -->

                      <div class="form-group d-grid gap-2 mt-5">

                          <button type="submit" class="button-h6 login-button-registration">Register</button>

                      </div>
                   
                  </form>

                <a href="/login" class="d-grid button-h6 register-button-login">Login</a>

            <script src="./js/registration.js"></script>