{{!-- Registration Form --}}
{{!-- <div>
    <div class="row vh-100"> --}}

        {{!-- Left Side. Header. --}}
        {{!-- <div class="col-12 col-lg-6 col-md-6 col-sm-12 login-left align-items-center justify-content-center" style="display:flex;">

            <div style="margin-left:-40px;">
                <h1 style="color:#ffffff;">
                    dogeared
                </h1>
                <h5 style="color:#ffffff; text-align:right; margin-top:-10px;">
                    loren ipsum
                </h5>
            </div>
        </div>  --}}

        {{!-- Right Side. Registration. --}}
        {{!-- <div class="col-12 col-lg-6 col-md-6 col-sm-12 justify-content-center align-items-center" style="display:flex; padding:0 30px;">

            <div class="col-10"> --}}
                <h2 style="text-align:center; padding-bottom:30px;">Register</h2>

                  {{!-- Form Section --}}
                  <form class="form signup-form ">
                    
                      <!-- Username -->
                      <div class="form-group" style="margin-bottom:20px;">
                          <label for=" username-signup" class="form-label-h6">Username</label>

                          <input type="text" id="username-signup" class="form-control"
                              aria-label="Username">
                      </div>

                      <!-- Password with Help Block-->
                      <div class="form-group">
                          <label for="password-signup" class="form-label-h6">Password</label>
                          <input type="password" id="password-signup" class="form-control"
                              aria-describedby="passwordHelpBlock">
                          <div id="passwordHelpBlock" class="form-text">
                              Your password must be 8-20 characters long, contain letters and numbers, and must not
                              contain spaces, special characters, or emoji.
                          </div> 
                      </div>

                      <!-- Button -->

                      <div class="form-group d-grid gap-2 mt-5">

                          <button type="submit" class="button-h6 login-button-login">Register</button>

                      </div>
                   
                  </form>


                          <a href="/login" class="button-h6 register-button-login">Login</a>

            {{!-- </div>
        </div>

  </div>
</div> --}}



{{!-- <script src="./js/registration.js"></script> --}}
 