<div class="row" style="margin-bottom: 40px;">
    <div style="text-align: center;">
        <h2>Let's Start</h2>
        <h3>Click to add our favorites to your library</h3>
    </div>
</div>


<div class="container d-flex justify-content-center">
    <div class="row row-cols-6 row-cols-sm-2 row-cols-md-4 row-cols-lg-6">

        {{!-- Displays each recommended book. --}}
        {{#each books as |book| }}
            <div class="add-book-card">
                <div style="position:relative;">
                    <button type="submit" class="add-book-button">
                        <p class="add-book-icon" onclick="onBookAdd({{json book}})">+</p>
                        <img class="book-cover" src="{{book.image}}" alt="{{book.title}}" width="125px" height="187px" />
                    </button>
                </div>
            </div>
        {{/each}}
    </div>
</div>


<div style="text-align:center; margin: 40px 0">
    <button id="myButton" class="theme-button button-h6">Next</button>
</div>

{{!-- SCRIPT TO ADD SELECTED BOOKS TO THE USER LIBRARY --}}
<script>
    document.getElementById("myButton").onclick = function () {
        window.location.href = "/add-new-book"
    };

    const onBookAdd = async (selectedBook) => {
        try {
            const response = await fetch(`/api/books/add-existing-book`, {
                method: 'POST',
                body: JSON.stringify(selectedBook),

                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
            });

            if (response.ok) {
                alert("Book has been added to your library")
            }
        }

        catch (err) {
            console.error(err);
        }
    }

</script>