* {
    font-family: 'Playfair Display', serif;
}
:root {
    --teal: #0DD1BB;
}
body,
.container {
    margin:0 auto;
    padding:0;
}
h1 {
    font-weight:900;
    font-size: 4.5em;
    text-transform: lowercase;
}
h2 {
    font-weight:900;
    font-size: 3.5em;
    text-transform:lowercase;
}
h3 {
    font-weight:500;
    font-size: 2.5em;
    text-transform:lowercase;
}
h4 {
    font-weight:900;
    font-size: 1em;
}
h5 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:2px;
}
h6 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:0.5px;
    font-weight:600;
    font-size:0.8em;
}
.button-h6 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:0.5px;
    font-weight:600;
    font-size:0.8em;
}

.form-label-h6 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:0.5px;
    font-weight:600;
    font-size:0.8em;
    margin-bottom:5px;
}
.note-title-heading {
    font-size:2.3em;
    text-transform:inherit;
}
.note-list h4 {
    font-size:1.4em;
}
p {
    font-size:16px;
}
/* LOGIN & REGISTRATION FORM */
.login-left {
    background-image: url("/assets/Torn-paper-login.png");
    background-size: 99%;
    background-repeat: round;
}
.form-control {
    border: 2px solid black;
    border-radius: 50px;
}
.login-button-registration {
    background-color: var(--teal);
    border-radius:50px;
    padding: 12px 0;
    border:none;
    text-decoration:none;
    text-align:center;
}
.login-button-registration:hover {
   background-color:#09e6cc;
   color: black;
}
.register-button-login {
    background-color: black;
    border-radius:50px;
    color:white;
    padding: 12px 0;
    border:none;
    text-decoration: none;
    text-align: center ;
}

.register-button-login:hover {
    background-color: rgba(0, 0, 0, 0.80);
    color:white;
}
/* BUTTONS */

  input[type="file"] {
    display: none;
}

.delete-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

.upload-button {
    background-color: black;
    color:white;
    border-radius: 50px;
    border:none;
    padding:15px 35px;
    margin-top:15px;
    display: inline-block;
    white-space:nowrap;
    -webkit-user-select:none;
    cursor:pointer;
}
.upload-button:hover {
    background-color: rgba(0, 0, 0, 0.80);
  }

.theme-button {
    color: black;
    background-color:var(--teal);
    border-radius:50px;
    text-decoration: none;
    padding: 10px 30px;
    border:2px solid var(--teal);
    min-width:150px;
}
.theme-button:hover {
    background-color:#09e6cc;
    border:2px solid #09e6cc;
    color:black;
}
.outlined-button {
    color:black;
    border-radius: 50px;
    text-decoration:none;
    border: 2px solid black;
    padding: 10px 30px;
}
.outlined-button:hover {
    background-color: black;
    color:white;
    border:none;
}
.is-danger {
    background-color:transparent;
    text-transform:capitalize;
    border-color:transparent;
    border-width:0;
    text-align: left;

}
/* HEADER */

header {
    background-image: url("/assets/TornPaper.png");
    background-size: cover;
    background-repeat: round;
    padding: 0 5vw;
    height:170px;
}
header h1 {
    font-size: 1.7em;
    color:white;
}
header h5 {
    font-size:0.7em;
    color:white;
    text-align: right;
    margin-top:-10px;
    margin-right:-40px;
}
.navbar-nav .nav-link:hover {
    color:#ffffff90;
}
.navbar-nav .nav-link {
    color:#ffffff;
}

/* MOBILE NAVBAR */
.navbar-lite .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 255.1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-lite .navbar-toggler {
    color:transparent;
    border-color:transparent;
}

.navbar-expand-lg .offcanvas-body {
    justify-content:end;
}

/* OFFCANVAS */
.offcanvas.show {
    background-color: black;
}
.offcanvas-header .btn-close {
    background-color:var(--teal);
    border-radius:50px;
    opacity:100%;
    margin-top:10px;
    margin-right:10px;
}
.offcanvas-body {
    margin-top:20px;
    padding:0 50px;
}

/* BOOK COVER */
.book-cover {
    border-radius:5px;
    object-fit: cover;
}

/* LIBRARY SIDEBAR */
.sidebar {
    max-height:75vh;
    overflow-y:scroll;
    overflow-x:hidden;
}
.sidebar::-webkit-scrollbar {
    width: 5px;              /* width of the entire scrollbar */
}
.sidebar::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
    width:20px;
  }
   
.sidebar::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
    height:20px!important;
    width:20px;
  }

.add-book-card {
      margin:20px;
      position:relative;
      width:120px;
  }

.add-book-icon {
      background-color: var(--teal);
      padding:1px 4px 5px;
      line-height:0.9em;
      color:white;
      border-radius:50px;
      font-size:2em;
      font-weight:900;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position:absolute;
      bottom:-25px;
      right:-45px;
  }

.library-icon {
    background-color: var(--teal);
    color:white;
    border-radius:50px;
    font-size:2em;
    font-weight:900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
}

.library-icon:hover{
    background-color: black;
    color: white;
}

.add-book-icon:hover {
      background-color:black;
  }

.add-book-button {
    background-color:transparent;
    border:none;
}
.book-cover:hover {
   box-shadow:7px 7px 30px rgba(0, 0, 0, 0.158);
}

/* BOOK DETAILS */

.details-book-cover {
    border-radius: 10px;
    object-fit: cover;
}
.section-divider-book-details {
    border:1.5px solid black;
    opacity:100%;
    margin-top:0;
}
.notes-counter {
    background-color:var(--teal);
    border-radius:50px;
    padding:9px 13px;
}
.book-info {
    margin-bottom:30px;
}

/* LIBRARY TABS - BOOTSTRAP */
body {
    padding : 10px ;
}

/* change border radius for the tab , apply corners on top*/
  
#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}
  
#exTab3 .tab-content {
    color : white;
    background-color: #cab2e9;
    padding : 5px 15px;
}
  
/* NOTES */
.note-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.4em; /* fallback */
    max-height: 2.8em; /* fallback */
    -webkit-line-clamp:2; /* number of lines to show */
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
}
.note-book-details {
    padding:30px;
}
/* NOTE LIST */

.note-list {
    border:2px solid black;
    border-radius:20px;
    padding:30px 40px 20px;;
}
.note-list p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.4em; /* fallback */
        max-height: 2.8em; /* fallback */
        -webkit-line-clamp:2; /* number of lines to show */
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
}
.note-list {
    margin-bottom:20px;
}

/* FOOTER */
footer {
    margin-top:150px;
}

/* ABOUT */
.team-profile-pic {
    border-radius:50%;
}
.developer-info {
    padding: 0 30px;
}
.about-developer {
    margin: 30px 0;
}
.github-link a {
    color:black;
    text-decoration:none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:0.5px;
    font-weight:600;
    font-size:1em;
}
.github-link a:hover {
    text-decoration:overline;
}

/* MEDIA QUERIES */
@media only screen and (max-width:767px) {
    .login-left {
        background-repeat: inherit;
    }
    .about-developer {
        flex-direction: column;
    }
    .developer-info {
        padding: 30px 0;
    }
}
@media only screen and (max-width:991px) {
    .book-details-header,
    .note-header {
        flex-direction: column;
        align-items: start!important;
    }
    .note-book-details {
        padding:10px 0;
    }
}
