<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dogeared</title>

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&ffamily=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap"
      rel="stylesheet"
    />

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../css/styles.css"/>

  </head>

  <body>
     
        <header>

            <nav class="navbar navbar-expand-lg navbar-lite">
                <div class="container-fluid">

                    <!-- Left Side. Logo. -->
                    <a class="navbar-brand" href="/">
                        <h1>Dogeared</h1>
                        <h5>loren ipsum</h5>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Right Side. Navigation -->

                    <div class="offcanvas offcanvas-end shadow justify-content-between" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    
                        <div class="offcanvas-header justify-content-end">                   
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        
                        <div class="offcanvas-body">
                            <div class="navbar-nav">
                                <a class="nav-link" href="/">Library</a>
                                <a class="nav-link" href="/about">About</a>

                                {{#if logged_in}}
                                 <button id="logout" class="button is-danger nav-link">logout</button>
                                 {{/if}}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </nav>
        </header>

      <main>

          {{{body}}}

      </main>
      <footer>
        <p style="text-align:center;">© 2022 Dogeared. All Rights Reserved.</p>
      </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>

</html>